.card-style-purple {
  background: linear-gradient(0deg, rgba(97, 79, 208, 0.3) 0%, rgba(21, 23, 25, 1) 100%);

  border-bottom-width: 4px;
  border-color: #5f4ed0;
}

.card-style-red {
  background: linear-gradient(0deg, rgba(70, 27, 28, 0.5) 0%, rgba(21, 23, 25, 1) 100%);

  border-bottom-width: 4px;
  border-color: #f03033;
}

.card-style-blue {
  background: linear-gradient(0deg, rgba(48, 125, 240, 0.3) 0%, rgba(21, 23, 25, 1) 100%);

  border-bottom-width: 4px;
  border-color: #307df0;
}

.card-style-green {
  background: linear-gradient(0deg, rgba(0, 255, 240, 0.3) 0%, rgba(21, 23, 25, 1) 100%);

  border-bottom-width: 4px;
  border-color: rgba(0, 255, 240, 1);
}

.horizontal-fade {
  -webkit-mask-image: linear-gradient(to right, transparent, #000 20%, #000 60%, transparent),
    linear-gradient(to left, transparent, #000 20%, #000 60%, transparent);
  mask-image: linear-gradient(to right, transparent, #000 20%, #000 60%, transparent),
    linear-gradient(to left, transparent, #000 20%, #000 60%, transparent);
}
