.custom-gradient-bg-color {
  background-image: linear-gradient(270deg, rgb(38, 38, 38) 0%, rgba(21, 23, 25, 0) 100%);
}
.custom-style-blue {
  background-image: linear-gradient(270deg, rgba(44, 48, 52, 0), rgba(48, 125, 240, 1));
}

.custom-style-red {
  background-image: linear-gradient(270deg, rgba(44, 48, 52, 0), #f03033);
}

.custom-style-purple {
  background-image: linear-gradient(270deg, rgba(44, 48, 52, 0), rgba(97, 79, 208, 1));
}

.custom-style-green {
  background-image: linear-gradient(270deg, rgba(44, 48, 52, 0), rgba(0, 255, 240, 1));
}
