@tailwind base;
@tailwind components;
@tailwind utilities;

$bgColor: #151719;
$bgColorTest: #414a54;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bgColor;
}
